
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493482733349'); /* IE9*/
  src: url('iconfont.eot?t=1493482733349#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493482733349') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493482733349') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493482733349#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e600"; }

.icon-liebiao:before { content: "\e606"; }

.icon-dagou:before { content: "\e62c"; }

.icon-iconziti09:before { content: "\e612"; }

.icon-report:before { content: "\e655"; }

.icon-icphotocamerawhite24px:before { content: "\e63a"; }

.icon-baobiao:before { content: "\e63d"; }

.icon-gongchengdangan:before { content: "\e644"; }

.icon-paizhao:before { content: "\e6cb"; }

.icon-yujing:before { content: "\e62e"; }

.icon-dagou1:before { content: "\e671"; }

.icon-yujing1:before { content: "\e72a"; }

